body{
    font-family: sans-serif;
    background-color: #FFF8F0;
}

.btn-bye{
    background-color: #926239;
    width: 130px;
    height: 45px;
    border-radius: 25px;
    color: #FFFFFF;
    font-size: 23px;
    border: 3px solid #6B492B;
    position: relative;
    bottom: 45px;
    padding-top: 7px;
    padding-right: 30px;
    left: 20px;
}

.btn-bye img{
    position: relative;
    bottom: 25px;
    left: 50px;
}

.btn-bye2{
    background-color: #926239;
    width: 130px;
    height: 45px;
    border-radius: 25px;
    color: #FFFFFF;
    font-size: 23px;
    border: 3px solid #6B492B;
    position: relative;
    bottom: 27px;
    padding-top: 7px;
    padding-right: 30px;
    left: 20px;
}

.btn-bye2 img{
    position: relative;
    bottom: 25px;
    left: 50px;
}

.card{
    background-color: #F5E9DA;
    width: 311px;
    height: 411px;
    border-radius: 20px;
    margin-top: 55px;
}

.card-img{
    width: 180px;
    padding-top: 25px;
    padding-left: 50px;
}

.card-container{
    display: flex;
    justify-content: space-around;
}

.bread_name1{
    text-align: center;
    font-size: 45px;
    color: #A58B71;
    position: relative;
    top: 20px;
}

.bread_name2{
    text-align: center;
    font-size: 30px;
    color: #A58B71;
}

.name{
    color: #A58B71;
    font-size: 27px;
    position: relative;
    left: 27px;
    bottom: 10px;
}

.name2{
    color: #A58B71;
    font-size: 27px;
    position: relative;
    left: 27px;
    top: 10px;
}

.describtion{
    color: #A58B71;
    font-size: 17px;
    position: relative;
    left: 25px;
    bottom: 25px;
}

.describtion2{
    color: #A58B71;
    font-size: 17px;
    position: relative;
    left: 25px;
    bottom: 5px;
}

.price{
    color: #CBAE92;
    font-size: 23px;
    position: relative;
    left: 25px;
    bottom: 40px;
}

.price2{
    color: #CBAE92;
    font-size: 23px;
    position: relative;
    left: 25px;
    bottom: 20px;
}

.sourtige_name{
    text-align: center;
    font-size: 45px;
    color: #A58B71;
    position: relative;
    top: 100px;
}

.sourtige_name2{
    text-align: center;
    font-size: 30px;
    color: #A58B71;
    position: relative;
    top: 80px;
}

.sourtige{
    margin-top: 140px;
}

main {
    padding-bottom: 40px;
}
.acssesorise{
    text-align: center;
    font-size: 45px;
    color: #A58B71;
    position: relative;
    top: 100px;
}

.acssesorise2{
    text-align: center;
    font-size: 30px;
    color: #A58B71;
    position: relative;
    top: 80px;
}

.id{
    display:none;
}